/*--------------------------------------------------------------
-- Error 404
--------------------------------------------------------------*/

.error-404 {
  margin-top: 20px;
}

.error-404__text {
  text-align: center;
  color: #fff;
  
  h1 {
    font-size: 8rem;

    span {
      color: #a89862;
    }
  }

  h2 {
    margin-bottom: 0.5rem;
  }
}
