/*--------------------------------------------------------------
-- Footer
--------------------------------------------------------------*/

.footer {
  background-color: #dddddd;
  padding: 11px 19px;
  color: #010001;
  font-size: 10px;
  font-weight: 400;
  text-transform: uppercase;

  a {
    color: #010001;
    font-size: 10px;
    font-weight: 400;
    text-transform: uppercase;
  }
}

.footer--admin {
  font-size: 12px;
}
